version: "3.9"

services:
  auth:
    build:
      context: ./services/auth
    image: auth-service:dev
    container_name: auth-service
    ports:
      - "8080:8080"
    environment:
      APP_NAME: auth-service
      PORT: 8080
      DATABASE_URL: postgres://authuser:authpass@postgres:5432/authdb?sslmode=disable
      JWT_SECRET: supersecret
    depends_on:
      - postgres

  postgres:
    image: postgres:15-alpine
    container_name: auth-postgres
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      POSTGRES_USER: authuser
      POSTGRES_PASSWORD: authpass
      POSTGRES_DB: authdb
    ports:
      - "5432:5432"
    volumes:
      - auth-postgres-data:/var/lib/postgresql/data

volumes:
  auth-postgres-data:
