openapi: 3.0.3
info:
  title: Auth Service API
  description: Authentication service for event-driven platform
  version: 1.0.0

servers:
  - url: http://localhost:8080/api/v1

paths:
  /auth/login:
    post:
      summary: User login
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Login successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponse"
        "400":
          description: Bad request - invalid input
        "401":
          description: Invalid credentials
        
      

components:
  schemas:
    LoginRequest:
      type: object
      required:
        - username
        - password
      properties:
        username:
          type: string
          example: admin
        password:
          type: string
          example: admin

    LoginResponse:
      type: object
      properties:
        token:
          type: string
          example: eyJhbGciOi...
